@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --black: #0b0d17;
  --blues: #d0d6f9;
  --white: #ffffff;
  --bellefair: 'Bellefair', serif;
  --barlow: 'Barlow', sans-serif;
  --condensed: 'Barlow Condensed', sans-serif;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Bellefair', sans-serif;
  color: var(--white);
  text-transform: uppercase;
  text-align: left;
}

h2 {
  font-family: 'Barlow Condensed', serif;
  color: var(--blues);
  font-size: 1.1rem;
  padding-bottom: 2rem;
}

h4 {
  font-family: 'Barlow Condensed', serif;
}

p {
  font-family: 'Barlow', serif;
  font-size: 1.1rem;
  color: #d0d6f9;
}

.heading {
  font-family: 'Barlow Condensed', serif;
  color: var(--blues);
  font-size: 1.2rem;
}

.main-content {
  font-family: 'Barlow', serif;
  font-size: 1.1rem;
  color: #d0d6f9;
}

.planetHeader {
  font-family: 'Barlow Condensed', serif;
  color: var(--white);
  font-size: 1.4rem;
  text-transform: uppercase;
}
.planetNav {
  font-family: 'Barlow Condensed', serif;
  color: var(--white);
}
.planetDistance {
  font-family: 'Barlow Condensed', serif;
  color: var(--blues);
}

nav {
  font-family: 'Barlow Condensed', serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.outercircle {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.innercircle {
  letter-spacing: 0.1rem;
  height: 200px;
  width: 200px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50px;
  bottom: 50px;
  border-radius: 50%;
}

.hr {
  height: 1px;
  color: var(--blues);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .app {
    @apply bg-no-repeat bg-cover bg-[url('../public/assets/home/background-home-mobile.jpg')] md:bg-[url('../public/assets/home/background-home-tablet.jpg')] lg:bg-[url('../public/assets/home/background-home-desktop.jpg')];
  }
}
@layer components {
  span {
    @apply pr-1 font-bold;
  }
}
